* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #16a34a;
  padding: 12px 20px;
  border-radius: 7px;
}
.logo-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #6b7280;
}

.logo-icon {
  color: #16a34a;
  font-size: 30px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.hero-content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-basis: 50%;
}

.hero-text-tag {
  background-color: #e5e7eb;
  color: #6b7280;
  width: fit-content;
  padding: 2px 10px;
  border-radius: 20px;
}

.hero-heading {
  font-size: 50px;
}

.hero-paragraph {
  color: #6b7280;
}

.hero-lists {
  list-style: none;
  color: #6b7280;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-lists i {
  color: #16a34a;
}

.outlined-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 12px 20px;
  border-radius: 7px;
  border: 1px solid #cdcfd4;
}

.hero-btn-wrapper {
  display: flex;
  gap: 20px;
}

.hero-image-wrapper {
  flex-basis: 50%;
}

.hero-image {
  height: 400px;
  width: 500px;
  border-radius: 8px;
}
