* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
}

.logo-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.logo-icon {
  color: #16a34a;
  font-size: 30px;
}

.nav-items {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-items a {
  text-decoration: none;
  color: #6b7280;
}

.primary-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #16a34a;
  padding: 12px 20px;
  border-radius: 7px;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}

.hero-content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  flex-basis: 50%;
}

.hero-text-tag {
  background-color: #e5e7eb;
  color: #6b7280;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 20px;
}

.hero-heading {
  font-size: 50px;
}

.hero-paragraph {
  color: #6b7280;
  line-height: 24px;
}

.hero-lists {
  list-style: none;
  color: #6b7280;
  line-height: 26px;
}

.hero-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hero-lists i {
  color: #16a34a;
}

.hero-btn-wrapper {
  display: flex;
  gap: 20px;
}

.outlined-btn {
  display: inline-block;
  text-decoration: none;
  color: #000;
  padding: 12px 20px;
  border-radius: 7px;
  border: 1px solid #cdcfd4;
}

.hero-image-wrapper {
  flex-basis: 50%;
  /* Flex basis is used to define the width of a flex item. */
}

.hero-image {
  height: 400px;
  width: 500px;
  border-radius: 8px;
}

/* How Freshbasket works CSS */

.how-it-works {
  background-color: #c0d4d4;
  padding: 50px 20px;
}

.title {
  text-align: center;
}

.title h3 {
  font-size: 32px;
  font-weight: bold;
}

.title p {
  color: #6b7280;
  line-height: 26px;
}

.card-container {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}

.card {
  background-color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  border-radius: 10px;
}

.card h4 {
  font-weight: 600;
  font-size: 20px;
}

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: #e0f2f1;
  border-radius: 5px;
  color: #16a34a;
}

.everything-you-need {
  padding: 50px 20px;
}

.everything-you-need-title {
  text-align: center;
}

.everything-you-need-title h3 {
  font-size: 32px;
  font-weight: bold;
}

.everything-you-need-title p {
  color: #4b5563;
  line-height: 26px;
}

.everything-you-need-card-container {
  display: flex;
  gap: 30px;
  margin-top: 40px;
}

.everything-you-need-card {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
}

.everything-you-need-card h4 {
  font-weight: bold;
  font-size: 20px;
}

.everything-you-need-card p {
  color: #4b5563;
}

.everything-you-need-card ul {
  color: #4b5563;
}

.grocery-shopping {
  background-color: #c0d4d4;
  padding: 50px 20px;
}

.grocery-shopping-container {
  background-color: #16a34a;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 40px;
  border-radius: 12px;
}

.grocery-shopping-container h3 {
  font-size: 32px;
  font-weight: bold;
}

.grocery-shopping-container p {
  line-height: 20px;
}

.grocery-btn {
  text-decoration: none;
  background: #fff;
  color: #000;
  font-size: 14px;
  padding: 12px;
  border-radius: 8px;
  font-size: 500;
  margin-top: 10px;
}

footer {
  background: #fff;
  padding-top: 30px;
}

footer div {
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 14px;
}
